/* Estilo general */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFCFB;
    color: #4F4F4F;
}

/* Encabezado */
header {
    background-color: #A47551;
    color: white;
    text-align: center;
    padding: 50px 20PX;
    background-image: url('images/encabezado.jpg');
    background-size: cover;
    background-position: center;
}

/* Titulo principal del encabezado */
header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Subtitulo del encabezado */
header p {
    margin: 10px 0 0; /* Espacio entre el titulo y el subtitulo */
    font-size: 1.2em; /* Tama침o mas peque침o que el titulo */
    font-style: italic; /*Cursiva */
    color: #FFFFFF;
}


/* Titulos*/ 

h1, h2 {
    font-family: 'Georgia', serif;
    color: #6b4226;
    margin: 0;
}

/* Contenido principal */

main {  
    margin: 40px auto;
    padding: 20px;
    padding-bottom: 60px; /*Para evitar que el footer fije el contenido y pueda a침adir*/
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    main {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    body {
        font-size: 1.7em;
    }

    h2 {
        font-size: 3em;
    }

    p{
        font-size: 1.6em;
    }
}

/* Fechas*/
.fecha {
    font-size: 0.9em;
    color: #6b4226;
    margin-bottom: 10px;
    font-style: italic;
}

/* Marco de imagenes */ 
.marco-imagen {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #6b4226;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .marco-imagen {
        max-width: 500px;
        margin: 20px auto;
        padding: 10px;
        border: 2px solid #6b4226;
    }
}

@media (max-width: 768px) {
    .marco-imagen{
        width: 100vw;
        height: auto;
        padding: 10px;
        border: 2px solid #6b4226;
        margin: 20px auto;
        object-fit: cover;
    }
} 

/* Imagen */
img {
    margin: 0 auto;
}

/* Imagen modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, 
.close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, 
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Textos */
.justificado {
    font-size: medium;
    text-align: justify;

}
/* Secciones */

section  {
    margin-bottom: 20px;
}

section p {
    line-height: 1.8;
}

section img {
    max-width: 100%;
    border-radius: 5px;
}

/* Enlaces */

a {
    color: #C19A6B;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8C5E3C;
}

/* Leer mas*/
.leer-mas {
    color: #8C5E3C;
    text-decoration: underline;
    font-weight: bold;
}

.leer-mas:hover {
    color: #6b4226
}

/*Suscripci칩n */

.suscripcion-container {
    text-align: center;
    margin: 20px 0;
}
.suscripcion-boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #A47551;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.suscripcion-boton:hover {
    background-color: #8C5E3C;
}

/* Pie de pagina */
footer {
    text-align: center;
    background-color: #A47551;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}

/* Icono de Instagram de pie pagina */
.instagram-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #c13584;
}

