/* Estilo general */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFCFB;
    color: #4F4F4F;
}

/* Encabezado */
header {
    background-color: #A47551;
    color: white;
    text-align: center;
    padding: 50px 20PX;
    background-image: url('images/encabezado.jpg');
    background-size: cover;
    background-position: center;
}

/* Titulo principal del encabezado */
header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Subtitulo del encabezado */
header p {
    margin: 10px 0 0; /* Espacio entre el titulo y el subtitulo */
    font-size: 1.2em; /* Tamaño mas pequeño que el titulo */
    font-style: italic; /*Cursiva */
    color: #FFFFFF;
}


/* Titulos*/ 

h1, h2 {
    font-family: 'Georgia', serif;
    color: #6b4226;
    margin: 0;
}

/* Contenido principal */

main {  
    margin: 40px auto;
    padding: 20px;
    padding-bottom: 60px; /*Para evitar que el footer fije el contenido y pueda añadir*/
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    main {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    body {
        font-size: 1.7em;
    }

    h2 {
        font-size: 3em;
    }

    p{
        font-size: 1.6em;
    }
}

/* Fechas*/
.fecha {
    font-size: 0.9em;
    color: #6b4226;
    margin-bottom: 10px;
    font-style: italic;
}

/* Marco de imagenes */ 
.marco-imagen {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #6b4226;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .marco-imagen {
        max-width: 500px;
        margin: 20px auto;
        padding: 10px;
        border: 2px solid #6b4226;
    }
}

@media (max-width: 768px) {
    .marco-imagen{
        width: 100vw;
        height: auto;
        padding: 10px;
        border: 2px solid #6b4226;
        margin: 20px auto;
        object-fit: cover;
    }
} 

/* Imagen */
img {
    margin: 0 auto;
}


/* Textos */
.justificado {
    font-size: medium;
    text-align: justify;

}
/* Secciones */

section  {
    margin-bottom: 20px;
}

section p {
    line-height: 1.8;
}

section img {
    max-width: 100%;
    border-radius: 5px;
}

/* Enlaces */

a {
    color: #C19A6B;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8C5E3C;
}

/* Leer mas*/
.leer-mas {
    color: #8C5E3C;
    text-decoration: underline;
    font-weight: bold;
}

.leer-mas:hover {
    color: #6b4226
}

/* Pie de pagina */
footer {
    text-align: center;
    background-color: #A47551;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}
