/* Estilo general */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFCFB;
    color: #4F4F4F;
}

/* Encabezado */
header {
    background-color: #A47551;
    color: white;
    text-align: center;
    padding: 50px 20PX;
    background-image: url('images/encabezado.jpg');
    background-size: cover;
    background-position: center;
}

/* Titulo principal del encabezado */
header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Subtitulo del encabezado */
header p {
    margin: 10px 0 0; /* Espacio entre el titulo y el subtitulo */
    font-size: 1.2em; /* Tamaño mas pequeño que el titulo */
    font-style: italic; /*Cursiva */
    color: #FFFFFF;
}


/* Titulos*/ 

h1, h2 {
    font-family: 'Georgia', serif;
    color: #6b4226;
    margin: 0;
}

/* Contenido principal */

main {  
    margin: 40px auto;
    padding: 20px;
    padding-bottom: 60px; /*Para evitar que el footer fije el contenido y pueda añadir*/
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Fechas*/
.fecha {
    font-size: 0.9em;
    color: #6b4226;
    margin-bottom: 10px;
    font-style: italic;
}

/* Marco imagenes 
.marco-imagen {
    border: 2px solid #6b4226;
    padding: 10px;
    max-width: fit-content;
    margin: 20px auto;
}*/

.marco-imagen {
    border: 2px solid #6b4226;
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

@media (max-width:768px) {
    .marco-imagen{
        max-width: 90%;
    }
}

/* Imagen */
img {
    display: block;
    margin: 0 auto;
}

/* Textos */
.justificado {
    text-align: justify;
}
/* Secciones */

section  {
    margin-bottom: 20px;
}

section p {
    line-height: 1.8;
}

section img {
    max-width: 100%;
    border-radius: 5px;
}

/* Enlaces */

a {
    color: #C19A6B;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8C5E3C;
}

/* Pie de pagina */

footer {
    text-align: center;
    background-color: #A47551;
    color: white;
    padding: 20px 0;
    /*position: fixed;
    width: 100%;
    bottom: 0;*/
    margin-top: 40px;
}
